extends index

block content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js")

  a(href='/') 
    h1= title

  if scandal != "None"
    h1 #{scandal.Title} - #{scandal.Date}
    p.
      #{scandal.Description}

  for result in results
    h2 #{result.name} Poll Results
    canvas(id="#{result.name}", width="600", height="300")
    script.
      var ctx = document.getElementById("#{result.name}").getContext("2d");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: [#{result.dates}],

          datasets: [{
            fill: false,
            label: 'Clinton',
            data: [#{result.clintonAvgs}],
            borderColor: "rgba(45,126,255,0.4)"
          },
          {
            fill: false,
            label: 'Trump',
            data: [#{result.trumpAvgs}],
            borderColor: "rgba(229, 9, 9, 0.4)"
          }]

        }
      });

